*{
	margin: 0px auto;
	padding: 0px;
	font-family: Verdana;
}
#wrapper {
	width: 970px;
}
h2, #header p {
	display: inline-block;
}
h2 {
	width: 800px;
}
#header {
	padding: 10px 0px;
	margin-bottom: 15px;
	border-bottom: 2px solid;
}

#login, #to_signup, #signup_page {
	width: 350px;		
}

h4{
	margin-bottom: 10px;
}
input, button {
	display: block;
	margin: 5px;

}
#to_signup p {
	font-size: .8em;
}
#to_signup{
	margin-bottom: 20px;
}
#login_submit, button, #signup_submit, #post_submit, #comment_submit {
	background-color: black;
	color: white;
	padding: 5px 8px;
	width: 80px;
	text-align: center;
	margin-top: 15px;
}
#post_submit{
	width: 120px;
	margin-left: 730px;
}
#comment_submit{
	width: 120px;
	margin-left: 600px;
}
#login, #signup_page {
	margin-top: 50px;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
}
#post textarea {
	width: 850px;
	height: 50px;
	overflow: scroll;
}
#signup_page form {
	margin-left: 50px;
	margin-top: 30px;
}
.error {
	display: block;
	font-size: .7em;
	color: red;
}
.success {
	color: green;
	width: 400px;

}
#errors {
	border: 1px solid grey;
	width: 400px;
	padding: 10px;
	margin-bottom: 20px;
}
#print_messages p{
	margin-left: 30px;
	margin-bottom: 30px;
}
#comments textarea {
	width: 720px;
	height: 40px;
	overflow: scroll;
}

#comments, #comments form {
	margin-left: 30px;
	color: blue;
}
h5 {
	margin-bottom: 10px;
}
#comments_title {
	font-size: .9em;
	margin-bottom: 10px;
}
.comment {
	font-size: .85em;
}



